<div class="container">

  <div class="row">
    <h2>View all items</h2>
  </div>

    <div class="tab">
        <button id="schoolOwned">School Items</button>
        <button id="donorOwned">Donor Items</button>
    </div>

  <div class="row">
    {{#each items}}
    {{#if this.ownerIsSchool}}
      <div class="ownerIsSchool" class="tabcontent">
          <a href='/users/{{this.owner}}'>{{this.name}}</a>
          <div>
            <img id="itemImage" src="{{this.image}}"/>
          </div>
          <p>{{this.description}}</p>
          <p>The owner of this item is {{this.ownerName}}</p>  
      </div>
      {{/if}}
    {{/each}}

    {{#each items}}
    {{#unless this.ownerIsSchool}}
      <div class="ownerIsDonor" class="tabcontent">
          <a href='/users/{{this.owner}}'>{{this.name}}</a>
          <div>
            <img id="itemImage" src="{{this.image}}"/>
          </div>
          <p>{{this.description}}</p>
          <p>The owner of this item is {{this.ownerName}}</p>
    {{/unless}}
    {{/each}}

  </div>
</div>
