<div class='editMargin'>
<h1>Update your information</h1>
		<label for='nameField'>Name</label>
		<input class='editField' value="{{user.name}}" id="nameField">
		<label for='schoolTypeField'>School Type</label>
		<input class='editField' value="{{user.schoolType}}" id="schoolTypeField">
		<label for='addressField'>Address</label>
		<input class='editField' value="{{user.address}}" id="addressField">
		<label for='descriptionField'>Description</label>
		<input class='editField' value="{{user.description}}" id='descriptionField'>
		<label for='imageField'>Image URL</label>
		<input class='editField' value="{{user.image}}" id='imageField'>
<h2>Enter your interests</h2>

<button id='submitEdit'>Submit</button>
