<h1>Welcome {{name}}</h1>

<p>{{name}}</p>
<img src={{image}}/>
<p>{{description}}</p>

<h2>Items</h2>

<form class="itemForm" action="/item" method="post">
    <p>
        Place you new items here:
    </p>
    <input name="name" placeholder="name" id="itemNameForm">
    <input name="open" placeholder="open" hidden id="itemNameForm" value="True">
    <input name="image"placeholder="image" id="itemImageForm">
    <input name="description"placeholder="Please provide a description of the item" id='itemDescriptionForm'>
    <input name="owner" placeholder="owner" hidden id='itemDescriptionForm' value={{id}}>
    <button id='createItem'>Submit</button>
</form>

<br>

<button id="openButton" name="openList">Open Items</button>
<button id="closedButton" name="closedList">Closed Items</button>

<div class="openItem">
{{#each openItems}}
    <h3>{{this.name}}</h3>
    <img src="{{this.image}}" />
    <p>{{this.description}}</p>
    <p>The owner of this item is {{this.owner}}</p>
{{/each}}
</div>

<div class="closedItem">
{{#each closedItems}}
    <h3>{{this.name}}</h3>
    <img src="{{this.image}}" />
    <p>{{this.description}}</p>
    <p>The owner of this item is {{this.owner}}</p>
{{/each}}
</div>

<button>Close This Item</button> <!-- only available if user looking at own page -->
