<div class="container">
<div class="row">
	<div class="col-lg-6">
        <h1>{{user.name}}</h1>
        <img id= "profileImage" src="{{user.image}}"/>
        {{#if user.isSchool}}
        <h2>{{user.schoolType}}</h2>
        {{/if}}
        <p id='userAddress'>{{user.address}}</p>
        <p>{{user.description}}</p>
    </div>
    <div class="col-lg-6">
    	<h1>Location</h1>
		<div id="map"></div>
		<button id="findNearby">Find nearby users</button>

	</div>
</div>



          {{#if onOwnPage}}
          <form class="itemForm" action="/item" method="post">
              <p>
                  Place you new items here:
              </p>
              <input name="name" placeholder="name" id="itemNameForm">
              <input name="open" placeholder="open" hidden id="itemOpenForm" value="true">
              <input name="image"placeholder="image" id="itemImageForm">
              <input name="description"placeholder="Please provide a description of the item" id='itemDescriptionForm'>
              <input name='ownerName' value='{{user.name}}' hidden>
              <input name='ownerIsSchool' value='{{user.isSchool}}' hidden>
              <input name="owner" placeholder="owner" hidden id='itemDescriptionForm' value={{user.id}}>
              <button id='createItem'>Submit</button>
          </form>

          <br>
          {{/if}}

    <div class="tab">
      <button id="openButton">Open Items: {{user.openItems.length}}</button>
      <button id="closedButton">Closed Items: {{user.closedItems.length}}</button>
      <button id="claimedButton">Claimed Items: {{user.claimedItems.length}}</button>
    </div>


      </div>
      <div class="row">
      </div>
        {{#each user.openItems}}
        	<div class="openItem displayItem">
            	<h3>{{this.name}}</h3>
              <div><img id="itemImage" alt="Item Image" src="{{this.image}}"/></div>
            	<p>{{this.description}}</p>
            	{{#if ../onOwnPage}}
            <!-- move this item from openItems to closedItems -->
            	<form action="./move-open" method="POST">
                	<input name="itemId" value="{{this.id}}" hidden>
                	<button id="buttonClosed" name="openIt">Mark item closed</button>
            	</form>
            	{{/if}}
            	{{#unless ../ownPage}}
            		<form action="./claim-item" method="POST">
            			<input name="itemId" value="{{this.id}}" hidden>          <input name='ownerId' value='{{../user.id}}' hidden>
            		<button id="claimButton">Claim item</button>
            		</form>

            	{{/unless}}
        	</div>
        {{/each}}

        {{#each user.closedItems}}
        	<div class="closedItem displayItem">
            <h3>{{this.name}}</h3>
            <div><img class="unclicked" id="itemImage" src="{{this.image}}" /></div>
            <p>{{this.description}}</p>
            {{#if ../onOwnPage}}
            <!-- move this item from closedItems to openItems -->
            <form action="./move-closed" method="POST">
                <input name="itemId" value="{{this.id}}" id="itemId" hidden>
                <button id="buttonOpen" name="openIt">Mark item open</button>
            </form>
            <!-- delete request -->
              <button id="deleteButton" name="buttonDelete">Delete Item</button>
              <input id="deleteId" name="itemDeleteId" value="{{this.id}}" hidden/>
              <input id="userId" name="userId" value="{{../user.id}}" hidden/>
            <!-- end delete request -->
            {{/if}}
        	</div>
        {{/each}}

        {{#each user.claimedItems}}
        	<div class="claimedItem displayItem">
        	<h3>{{this.name}}</h3>
        	<div><img id='itemImage' src="{{this.image}}"/></div>
        	<p>{{this.description}}</p>
        	{{#if ../user.isSchool}}
        		<p>This item was donated by {{this.ownerName}}</p>
        	{{/if}}
        	{{#unless ../user.isSchool}}
        		<p>{{../user.name}} fulfilled this request for {{this.ownerName}}</p>
        	{{/unless}}
        {{/each}}
</div>
