
<h1>Welcome, {{user.name}}</h1>

<form action='/item/search' method="POST">
	<input name="searchTerm" id="searchBox" placeholder="Search our database">
	<button id='submitSearch'>Search</button>
</form>



<p>{{user.name}}</p>
<img src="{{user.image}}"/>
<p>{{user.description}}</p>

<h2>Items</h2>

<form class="itemForm" action="/item" method="post">
    <p>
        Place you new items here:
    </p>
    <input name="name" placeholder="name" id="itemNameForm">
    <input name="open" placeholder="open" hidden id="itemNameForm" value="true">
    <input name="image"placeholder="image" id="itemImageForm">
    <input name="description"placeholder="Please provide a description of the item" id='itemDescriptionForm'>
    <input name='ownerName' value='{{user.name}}' hidden>
    <input name="owner" placeholder="owner" hidden id='itemDescriptionForm' value={{user.id}}>
    <button id='createItem'>Submit</button>
</form>

<br>

<button id="openButton" name="openList">Open Items</button>
<button id="closedButton" name="closedList">Closed Items</button>

{{#each user.openItems}}
<div class="openItem">
    <h3>{{this.name}}</h3>
    <img src="{{this.image}}" />
    <p>{{this.description}}</p>
    <p>The owner of this item is {{this.ownerName}}</p>
    <p id="itemId" hidden>{{this.id}}</p>
    {{#if ../loggedIn}}
    <!-- move this item from openItems to closedItems -->
    <form action="users/move" method="POST">
        <input name="id" value="{{this.id}}" id="itemId"></p>
        <button id="buttonClosed" name="openIt">Mark item closed</button>
    </form>
    {{/if}}
</div>
{{/each}}

{{#each user.closedItems}}
<div class="closedItem">
=======
{{#if openItems}}
{{#each openItems}}
<div class="item">
>>>>>>> search
    <h3>{{this.name}}</h3>
    <img src="{{this.image}}" />
    <p>{{this.description}}</p>
    <p>The owner of this item is {{this.ownerName}}</p>
    {{#if ../loggedIn}}
    <!-- move this item from closedItems to openItems -->
    <form action="users/move" method="POST">
        <input name="id" value="{{this.id}}" id="itemId">{{this.id}}</p>
        <button id="buttonOpen" name="openIt">Mark item open</button>
    </form>
    {{/if}}
</div>
{{/each}}
{{/if}}
<button id="changeItems">View closed items</button>
